@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Start Organizing your tasks and stay Productive!</p>
    <p>Get Started by Creating your First to-do item</p>
    <a href="Item/Create" type="button" class="btn btn-primary" fdprocessedid="5rioug">Create New To-Do item</a>
    
   @*  <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>
